/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	Author: Enrique Ramírez
	Autor URI: http://enrique-ramirez.com
*/

/* Imports */
@import url("reset.css");
@import url("pygment-solarized.css");
@import url("typogrify.css");
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin);

/***** Global *****/
/* Body */
body {
    background: #f1f1f1 url(../images/noise.png);
    color: #51565b;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
    font-family: 'Yanone Kaffeesatz', arial, serif;
}

h3, h4, h5, h6 { margin-top: .8em; }

h2 {
	clear: both;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #716998;
	text-decoration: none;
}
a:hover, a:active {
	color: #464C87;
}

h1 a:hover {
    background-color: inherit
}

h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	color: #51565b;
}

/* Paragraphs */
p {margin-bottom: 1.143em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	margin-bottom: 20px;
	margin-left: 20px;
}

ul li {
	list-style-image: url(../images/bullet-check.png);
	line-height: 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}


/* Solarized preformatted */
pre {
	background-color: #002b36;
	color: #93a1a1;
	/*background-color: rgb(238, 238, 238);*/
	padding: 10px;
	margin: 10px;
	overflow: auto;
	border-radius: 10px;
	box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 1px inset;
}

/* Quotes */
blockquote {
	background-color: rgb(238, 238, 238);
    padding: 10px;
    margin: 10px;
    font-style: italic;
    border-radius: 10px;
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

table, td, th {
	vertical-align:middle;
}

table {
	border-collapse:separate;
	border-spacing:0;
	border-top:1px solid white;
	margin-bottom:28px;
	width:100%;
	text-align: left;
}

th {
	border-top:5px solid #555555;
	color: #ffffff;
	padding:10px;
	text-transform:uppercase;
	background-color: #49494b;
}

td {
	padding:10px;
}

td, th {
	border-bottom: 1px solid #1f1f1f;
}


/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width: 900px;}

img.align-right, figure.align-right {float: right; margin: 0 0 2em 2em;}
img.align-left, figure.align-left {float: left; margin: 0 2em 2em 0;}
img.align-center, figure.align-center { display: block; margin-left: auto; margin-right: auto; }

.body img, .body figure {
	margin-bottom: 10px;
}

/**
 * Header
 */

#header {
	top: 0;
	height: 90px;
	position: relative;
	z-index: 10;
	background: #2a2d30 url(../images/header-glow.png) top center no-repeat;
}

#header h1 {
	float: left;
	font-size: 2.8em;
	color: white;
	line-height: 90px;
	margin: 0;
}

#header h1 a {
	color: white;
	text-decoration: none;
}

#header .subtitle {
	float: left;
	font-size: 1.3em;
	font-weight: normal;
	color: #c2dc14;
	border-left: 1px solid #999;
	padding-left: 10px;
	margin: 24px 10px 16px;
	line-height: 50px;
	letter-spacing: 0.5em;
}

/**
 * Menu
 */

#menu {
	width: 100%;
	padding-top: 1px;
	margin-bottom: 15px;
	background: #f858ef;
	background: -webkit-gradient(linear, left top, right bottom, from(#f858ef), to(#ffe413));
	background: -moz-linear-gradient(left,  #f858ef,  #ffe413);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f858ef', endColorstr='#ffe413', GradientType=1);
}

#menu-holder {
	width: 100%;
	height: 50px;
	background-color: #1D2023;
}

#menu-holder > ul {
	height: 100%;
	list-style: none;
	position: relative;
}

#menu-holder li {
	display: block;
	float: left;
	height: 100%;
	margin-right: 32px;
}

#menu-holder li a {
	display: block;
	font-size: 16px;
	color: #bac0c9;
	text-decoration: none;
	margin-top: 15px;
	text-shadow: 0px -2px rgba(0, 0, 0, .8);
}

#menu-holder li.active {
	background: url(../images/menu-arrow.png) no-repeat center bottom;
}

#menu-holder li:hover > a {
	color: #fff;
}

/* sub navigation */
#menu-holder ul ul {
    display: none;
    margin: 0;
}

#menu-holder ul li:hover > ul {
    display: block;
}

#menu-holder ul ul {
	background: #1D2023;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	margin-left: -15px;
	z-index: 10000;
}

#menu-holder ul ul li {
	float: none;
	position: relative;
	margin: 0;
	padding: 0;
}

#menu-holder ul ul li a {
	font-size: 14px;
	margin: 0;
	padding: 5px 15px 5px 15px;
}

#menu-holder ul ul:last-child, #menu-holder ul ul:last-child:hover { /* last item its rounded at bottom */
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
}

/**
 * Posts
 */
.post {
	position: relative;
}

#comments-block {
	position: relative;
	margin-left: 30px;
	margin-top: 40px;
	margin-bottom: 30px;
	padding-top: 80px;
}

#posts.single .post {
	border-bottom: none;
}

#posts .post:last-child {
	border-bottom: none;
}

#posts h1 a {
	display: block;
	width: 514px;
	text-decoration: none;
	color: #51565b;
}

a.n-comments {
	display: block;
	width: 57px;
	height: 41px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 34px;
	background: url(../images/balloon.png) no-repeat;
	position: absolute;
	top: 0px;
	right:0px;
}

.n-comments span {
	display: none;
}

#posts .post {
	margin-bottom: 40px;
}

#posts .post .excerpt {
	padding-bottom: 40px;
	background: url(../images/post-divider.png) center bottom no-repeat;
}

.post header {
	margin-bottom: 15px;
}

.post header h1 {
	font-size: 2.4em;
	margin-bottom: 5px;
}

.post .meta {
	display: block;
	background: #f1f1f1;
	padding: 5px;
	border-color: #e7e6e6 #ececec #ececec #ececec;
	border-width: 3px 1px 1px 1px;
	border-style: solid;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.post .meta p {
	margin-bottom: 2px;
}

.post .meta p .share {
	float: right;
}

.post .meta:last-child {
	margin-bottom: 0;
}

#posts .post .read-more {
	display: block;
	position: absolute;
	bottom: -18px;
	left: 410px;
	text-decoration: none;
}

.post .meta a {
	text-decoration: none;
}

.post .meta-tags {
	overflow: hidden;
}

.post .meta-tags a {
	float: left;
	font-size: 12px;
	line-height: 14px;
	color: #f1f1f1;
	background: #696969;
	padding: 3px 10px;
	margin-right: 2px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.post .meta-tags a:hover {
	background: #000;
}

.post .post-pager {
	margin-bottom: 10px;
	width: 100%;
}

.post .post-pager .next{
	float: right;
}


h1.page-title {
	font-size: 3em;
	margin-top: 0;
	overflow: hidden;
	height: 60px;
	margin-bottom: 30px;
	background:  url(../images/tabs-divider.png) repeat-x bottom center;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
}

h1.page-title a:link, .page h1.page-title a:visited {
	text-decoration: none;
	color: #51565b;
}

.page .post .meta {
	margin: 20px 0;
}


/**
 * Pagination
 */

.pager {
    display: table;
    margin: 0 auto;
	padding-top: 0px;
	overflow: hidden;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 10px;
}

.pager li {
	display: block;
	width: 26px;
	height: 26px;
	margin-right: 8px;
	float: left;
}

.pager li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	color: #606060;
	border-radius: 33px;
	-moz-border-radius: 33px;
	-webkit-border-radius: 33px;
	background: #d1d1d1;
	background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#f1f1f1));
	background: -moz-linear-gradient(top,  #d1d1d1,  #f1f1f1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#f1f1f1', GradientType=0);

	border-top: 1px solid #bcbcbc;
}

.pager li:hover a,
.pager li.active a {
	color: #fff;
	background: #515558;
	background: -webkit-gradient(linear, left top, left bottom, from(#515558), to(#131313));
	background: -moz-linear-gradient(top,  #515558,  #131313);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515558', endColorstr='#131313', GradientType=0);

	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	box-shadow: 0px 1px 2px rgba(0,0,0,.5);

	border-top: none;
}

/* LINK BUTTON BIG ------------------------------------------------------------*/

.link-button-big {
	display: table;
	height: 38px;
	padding-left: 6px;
	text-decoration: none;
	color: #fff;

	border-radius: 33px;
	-moz-border-radius: 33px;
	-webkit-border-radius: 33px;

	background: #515558;
	background: -webkit-gradient(linear, left top, left bottom, from(#515558), to(#131313));
	background: -moz-linear-gradient(top,  #515558,  #131313);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515558', endColorstr='#131313', GradientType=0);

	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	box-shadow: 0px 1px 2px rgba(0,0,0,.5);
}

.link-button-big span {
	display: block;
	height: 100% ;
	font-size: 18px;
	line-height: 38px;
	padding-left: 9px;
	padding-right: 15px;
	text-shadow: 0px -2px rgba(0, 0, 0, .8);
}

.link-button-big:hover {
	background: #515558;
	background: -webkit-gradient(linear, left top, left bottom, from(#131313), to(#515558));
	background: -moz-linear-gradient(top,  #131313,  #515558);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#515558', GradientType=0);
}

/* LINK BUTTON ------------------------------------------------------------*/

.link-button {
	display: table;
	height: 37px;
	padding-left: 5px;
	text-decoration: none;
	color: #fff;

	border-radius: 33px;
	-moz-border-radius: 33px;
	-webkit-border-radius: 33px;

	background: #515558;
	background: -webkit-gradient(linear, left top, left bottom, from(#515558), to(#131313));
	background: -moz-linear-gradient(top,  #515558,  #131313);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#515558', endColorstr='#131313', GradientType=0);

	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	box-shadow: 0px 1px 2px rgba(0,0,0,.5);
}

.link-button span {
	color: #fff;
	display: block;
	height: 100% ;
	font-size: 12px;
	line-height: 37px;
	padding-left: 9px;
	padding-right: 15px;
	text-shadow: 0px -1px rgba(0, 0, 0, .8);
}

.link-button:hover {
	background: #515558;
	background: -webkit-gradient(linear, left top, left bottom, from(#131313), to(#515558));
	background: -moz-linear-gradient(top,  #131313,  #515558);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#515558', GradientType=0);
}


/*
	Body
*****************/
#content {
	min-height: 400px;
}

.section {
	margin-bottom: 20px;
}

/* FOOTER - COLS ------------------------------------------------------------*/

#footer {
	background: #2a2d30 url(../images/footer-glow.png) no-repeat top center;
	color: #fff;
}

#footer a:hover, #footer a:active {
	background-color: transparent;
	text-decoration: none;
}

/* FOOTER - COLS ------------------------------------------------------------*/

#footer-cols {
	display: block;
	overflow: hidden;
	color: #bbbaba;
	line-height: 1.5em;
}

#footer-cols li.col {
	display: block;
	font-size: 14px;
	width: 280px;
	float: left;
	margin: 0 10px 15px 10px;
}

#footer-cols li.col>h6 {
	color: #d7d7d7;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
	text-shadow: 0px -2px rgba(0, 0, 0, .8);
}

#footer-cols li.clear-col { clear:left; }

#footer-cols li.col ul {
	display: block;
	margin-left: 10px;
}

#footer-cols li.col ul li {
	display: block;
	line-height: 1.7em;
}


#footer-cols li.col ul.bullets li {
	display: block;
	line-height: 2.0em;
	padding-left: 14px;
	border-top: 1px solid #4a4a4a;
	border-bottom: 1px solid #000;
	background: url(../images/footer-bullet.png) no-repeat 0px 10px;
}

#footer-cols li.col ul li:first-child { border-top: none; }

#footer-cols li.col ul li:last-child { border-bottom: none; }

#footer-cols li.col ul li a {
	text-decoration: none;
	color: #bbbaba;
}

#footer-cols li.col ul li a:hover {
	color: #fff;
}

/**
 * Tags cloud
 */
.cloud {
	padding: 2px;
	line-height: 2em;
	text-align: center;
}
.cloud a {
	color: #bbbaba;
	padding: 0px;
	text-decoration: none;
}
.cloud a:hover {
	color: #fff;
	background: none;
}
.cloud a.tag-1 {
	font-size: 2.4em;
	font-weight: 900;
}
.cloud a.tag-2 {
	font-size: 2.2em;
	font-weight: 900;
}
.cloud a.tag-3 {
	font-size: 1.8em;
	font-weight: 800;
}
.cloud a.tag-4 {
	font-size: 1.6em;
	font-weight: 700;
}
.cloud a.tag-5 {
	font-size: 1.4em;
	font-weight: 600;
}
.cloud a.tag-6 {
	font-size: 1.2em;
	font-weight: 500;
}
.cloud a.tag-7 {
	font-size: 1.0em;
	font-weight: 400;
}
.cloud a.tag-8 {
	font-size: 0.9em;
	font-weight: 300;
}
.cloud a.tag-9 {
	font-size: 0.8em;
	font-weight: 200;
}
.cloud a.tag-10 {
	font-size: 0.7em;
	font-weight: 100;
}

/* FOOTER BOTTOM --------------------------------------------------------*/

#bottom {
	position: relative;
	width: 100%;
	font-size: 12px;
	line-height: 1.5em;
	line-height: 60px;
	color: #868686;
	background: #222426 url(../images/bottom-shadow.png) repeat-x;
}

#bottom #bottom-text {
	overflow: hidden;
}

#bottom a {
	color: #AFEAF9;
	text-decoration: none;
}

#bottom a:hover {
	background-color: transparent;
}

#bottom #to-top {
	position: absolute;
	right: 30px;
	top: -22px;
	width: 33px;
	height: 33px;
	background: url(../images/to-top.png) no-repeat;
	cursor: pointer;
}

/* SOCIAL --------------------------------------------------------*/

#bottom .social {
	float: right;
	top: 0px;
	right: 0px;
	display: inline;
	overflow: hidden;
	margin: 5px 0;
}

#bottom .social li {
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	margin: 0;
}

#bottom .social a {
	display: block;
	width: 50px;
	height: 50px;
	text-indent: -9000px;
}


.social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../images/social/RSS-bw.png');}
.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/social/LastFM-bw.png');}
.social a[href*='twitter.com'] {background-image: url('../images/social/Twitter-bw.png');}
.social a[href*='linkedin.com'] {background-image: url('../images/social/LinkedIn-bw.png');}
.social a[href*='plus.google.com'] {background-image: url('../images/social/GooglePlus-bw.png');}
.social a[href*='github.com'],
.social a[href*='git.io'] {background-image: url('../images/social/Github-bw.png');}
.social a[href*='delicious.com'] {background-image: url('../images/social/Delicious-bw.png');}
.social a[href*='facebook.com'] {background-image: url('../images/social/Facebook-bw.png');}
.social a[href^='mailto:'] {background-image: url('../images/social/Mail-bw.png');}

.social a[type$='atom+xml']:hover, .social a[type$='rss+xml']:hover {background-image: url('../images/social/RSS-color.png');}
.social a[href*='last.fm']:hover, .social a[href*='lastfm.']:hover {background-image: url('../images/social/LastFM-color.png');}
.social a[href*='twitter.com']:hover {background-image: url('../images/social/Twitter-color.png');}
.social a[href*='linkedin.com']:hover {background-image: url('../images/social/LinkedIn-color.png');}
.social a[href*='plus.google.com']:hover {background-image: url('../images/social/GooglePlus-color.png');}
.social a[href*='github.com']:hover,
.social a[href*='git.io']:hover {background-image: url('../images/social/Github-color.png');}
.social a[href*='delicious.com']:hover {background-image: url('../images/social/Delicious-color.png');}
.social a[href*='facebook.com']:hover {background-image: url('../images/social/Facebook-color.png');}
.social a[href^='mailto:']:hover {background-image: url('../images/social/Mail-color.png');}


/*
	About
*****************/
#about {
	background: #fff;
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 760px;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}


	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;

		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}

	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}

	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; width: 200px;}

	#add-comment textarea {float: left; height: 150px; width: 495px;}

	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}

	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}
