<aside class="meta">
    <p>Posté le
    <abbr class="published" title="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
    </abbr>
    dans <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    {% if article.author %}
        {# <address class="vcard author"> #}
        par <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        {# </address> #}
    {% endif %}
    <span class="share">
        {%- set share_url = [SITEURL, article.url]|join('/') -%}
        {%- set share_title = article.title -%}
        {% include 'twitter.html' %}
        {% include 'plusone.html' %}
        {% include 'flattr.html' %}
    </span>
    </p>

    {% if article.tags %}
        <p class="meta-tags">
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
        </p>
    {% endif %}

    {% if PDF_PROCESSOR %}
        <p><a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">get the pdf</a><p>
    {% endif %}
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</aside>
