{% extends "base.html" %}
{% set active_page = "article" %}
{% block title %}{{ article.title|striptags }} | {{ SITENAME }}{% endblock %}
{% block content %}
<section class="body page">
    <article class="post">
        <header>
          {% include "comments.html" %}
          <h1 class="page-title">
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                     title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
          </h1>
        </header>

        {{ article.content }}

        <footer>
            {% include "article_metadatas.html" %}
            {% if article.prev_article or  article.next_article%}
            <div class="post-pager">
                {% if article.prev_article %}
                <span class="previous">
                    <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                        << {{ article.prev_article.title }}
                    </a>
                </span>
                {% endif %}
                {% if article.next_article %}
                <span class="next">
                    <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                        {{ article.next_article.title }} >>
                    </a>
                </span>
              {% endif %}
            </div>
            {% endif %}
        </footer>

        {% if DISQUS_SITENAME and not article.status == 'draft' %}
        <aside class="comments">
          <h2>Commentaires !</h2>
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            var disqus_identifier = "{{ article.url }}";
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
        </aside>
        {% endif %}

    </article>
</section>
{% endblock %}
