{% extends "postlist.html" %}
{% set active_page = "author" %}
{% block title %}{{ SITENAME }} - {{ author }}{% endblock %}
{% block content %}
    <header class="body">
        <h1 class="page-title">Auteur: {{ author }}</h1>
    </header>
    {{ super() }}
{% endblock %}
