<!DOCTYPE html>
<html lang="fr">
<head>
        <title>{% block title %}{{ SITENAME }} - {{ SITESUBTITLE }}{%endblock%}</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        {% block feeds %}{% endblock %}

        <link rel="shortcut icon" href="{{ SITEURL }}/theme/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ SITEURL }}/theme/favicon.ico" type="image/x-icon">

        {% for name, content in METAS.iteritems() %}
        <meta name="{{name}}" content="{{content}}" />
        {% endfor %}

        {% include 'myopenid.html' %}
</head>
{% set active_page = active_page|default(None) -%}

<body id="index" class="home">
{% include 'github.html' %}

        <header id="header" itemscope itemtype="http://data-vocabulary.org/Person">
            <div class="body">
                <h1>
                    <a itemprop='url' href="{{ SITEURL }}/">{{ SITENAME }}</a>
                </h1>
                {% if SITESUBTITLE %}
                    <p class="subtitle">{{ SITESUBTITLE }}</p>
                {% endif %}
                {% for name, content in PERSON_METAS.items() %}
                <meta itemprop="{{ name }}" content="{{ content }}"/>
                {% endfor %}
            </div>
        </header>

        <nav id="menu">
            <div id="menu-holder">
                <ul class="body">
                    <li {% if active_page == 'index' %}class="active"{% endif %}>
                        <a href="{{ SITEURL }}/">Accueil</a>
                    </li>
                    <li {% if active_page == 'category' %}class="active"{% endif %}><a href="{{ SITEURL }}/categories">Catégories</a>
                        <ul>
                            {% for cat, null in categories %}
                            <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% for title, link in MENUITEMS %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                    {% if DISPLAY_PAGES_ON_MENU %}
                    {% for pag in PAGES %}
                        <li {% if page == pag %}class="active"{% endif %}>
                            <a href="{{ SITEURL }}/{{ pag.url }}">{{ pag.title }}</a>
                        </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div id="content">
        {% block content %}
        {% endblock %}
        </div>

        <footer>

            <div id="footer">
                <!-- footer-cols -->
                <ul id="footer-cols" class="body">
                    <li class="col">
                        {% if LINKS %}
                            <h6>Blogroll</h6>
                            <ul class="bullets">
                            {% for name, link in LINKS %}
                                <li><a href="{{ link }}">{{ name }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>

                    <li class="col">
                        <h6>Tags</h6>
                        <p class="cloud">
                        {% for tag in tag_cloud %}
                            <a href="{{ SITEURL }}/{{ tag.0.url }}" class="tag-{{ tag.1 }}">{{ tag.0 }}</a>
                        {% endfor %}
                        </p>
                    </li>
                    <li class="col">
                        <h6>Credits</h6>
                        <ul class="bullets">
                            <li>
                                Theme basé sur <a href="http://luiszuno.com/blog/downloads/nova-html-template/">Nova template</a> par <a href="http://www.luiszuno.com/">Luis Zuno</a>.
                            </li>
                            <li>
                                Icones sociales issues de <a href="http://dribbble.com/shots/496365-Socialis-3-PSD-GIF-Cutouts">Socialis 3</a> par <a href="http://victoringman.se/">Victor Ingman</a>.
                            </li>
                        </ul>
                    </li>

                </ul>
                <!-- ENDS footer-cols -->
            </div>

            <div id="bottom">
                <div class="body">
                    <!-- Social -->
                    {% if SOCIAL %}
                        <ul class="social">
                            <li>
                                <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
                                    type="application/atom+xml"
                                    title="Atom Feed" rel="alternate">
                                </a>
                            </li>
                            {% if FEED_ALL_RSS %}
                            <li>
                                <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
                                    type="application/rss+xml"
                                    title="RSS Feed" rel="alternate">
                                </a>
                            </li>
                            {% endif %}

                        {% for name, link in SOCIAL %}
                            <li>
                                <a href="{{ link }}" title="{{ name }}"></a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <!-- ENDS Social -->
                    <div id="bottom-text">
                    Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                    </div>
                    <a href="#index" id="to-top" title="To top"></a>
                </div>
            </div>
        </footer>

{% if SITEURL %}
    {% include 'analytics.html' %}
    {% include 'piwik.html' %}
    {% include 'disqus_script.html' %}
    {% include 'twitter_script.html' %}
    {% include 'plusone_script.html' %}
    {% include 'flattr_script.html' %}
{% endif %}
</body>
</html>
