{% extends "postlist.html" %}
{% set active_page = "category" %}
{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}

{% block feeds %}
{% if CATEGORY_FEED_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|replace('%s', category) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} {{ category }} Atom Feed" />
{% endif %}
{% if CATEGORY_FEED_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|replace('%s', category) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} {{ category }} RSS Feed" />
{% endif %}
{% endblock %}

{% block content %}
    <header class="body">
        <h1 class="page-title">Catégorie: {{ category }}</h1>
    </header>
    {{ super() }}
{% endblock %}
