{% extends "base.html" %}
{% set active_page = "category" %}
{% block title %}{{ SITENAME }} - Catégories{% endblock %}

{% block content %}
    <header class="body">
        <h1 class="page-title">Catégories</h1>
    </header>

    <section class="body">
    <ul>
    {% for cat, null in categories %}
        <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
    {% endfor %}
    </ul>
</section>
{% endblock %}
