{% if MYOPENID_USERNAME %}
<link rel="openid.server" href="http://www.myopenid.com/server" />
<link rel="openid.delegate" href="http://{{MYOPENID_USERNAME}}.myopenid.com/" />
<link rel="openid2.local_id" href="http://{{MYOPENID_USERNAME}}.myopenid.com" />
<link rel="openid2.provider" href="http://www.myopenid.com/server" />
<meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username={{MYOPENID_USERNAME}}.myopenid.com" />
{% endif %}
