{% if DEFAULT_PAGINATION and articles_paginator.num_pages > 1 %}
<div class="body">
    <ul class="pager">
        <li class="first-page">
            <a href="{{ SITEURL }}/{{ page_name }}.html">«</a>
        </li>

        {% if articles_page.has_previous() %}
        <li>
        {% if articles_page.previous_page_number() == 1 %}
            <a href="{{ SITEURL }}/{{ page_name }}.html">‹</a>
        {% else %}
            <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html">‹</a>
        {% endif %}
        </li>
        {% endif %}

        {% for page_num in range(1, articles_paginator.num_pages + 1) %}
        <li {% if page_num == articles_page.number %}class="active"{% endif%}>
            {% if page_num == 1 %}
            <a href="{{ SITEURL }}/{{ page_name }}.html">{{ page_num }}</a>
            {% else %}
            <a href="{{ SITEURL }}/{{ page_name }}{{ page_num }}.html">{{ page_num }}</a>
            {% endif %}
        </li>
        {% endfor %}

        {% if articles_page.has_next() %}
        <li class="last-page">
            <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">›</a>
        </li>
        {% endif %}

        <li class="last-page">
            <a href="{{ SITEURL }}/{{ page_name }}{{ articles_paginator.num_pages }}.html">»</a>
        </li>
    </ul>
</div>
{% endif %}
