{% extends "base.html" %}
{% set active_page = "page" %}
{% block title %}{{ page.title }} | {{ SITENAME }}{% endblock %}
{% block content %}
<section class="body page">
    <header>
        <h1 class="page-title">{{ page.title }}</h1>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(page) }}
        {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get
        the pdf</a>{% endif %}
    </header>
    {{ page.content }}
</section>
{% endblock %}
