{% extends "base.html" %}
{% set active_page = active_page|default('index') -%}
{% block content_title %}{% endblock %}
{% block content %}
<section id="posts" class="body">

{% for article in articles_page.object_list %}
    <!-- post -->
    <article class="post">
        <header>
            <h1>
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                       title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h1>
            {% include "comments.html" %}
            {% include "article_metadatas.html" %}
        </header>
        <div class="excerpt">
        {{ article.summary }}
        </div>
        <a class="read-more link-button" href="{{ SITEURL }}/{{ article.url }}"><span>Lire la suite</span></a>

    </article>
{% endfor %}

</section>

{% include 'pager.html' %}

{% endblock content %}
