{% extends "postlist.html" %}
{% set active_page = "tag" %}
{% block title %}{{ SITENAME }} - {{ tag }}{% endblock %}
{% block content %}
    <header class="body">
        <h1 class="page-title">Tag: {{ tag }}</h1>
    </header>
    {{ super() }}
{% endblock %}
