{% extends "base.html" %}
{% block content_title %}Erreur 404{% endblock %}
{% block content %}
<section class="body page">
    <h1 class="page-title">Erreur 404</h1>
    La page que vous cherchez n'existe pas.
</section>
{% endblock content %}
