{% extends "base.html" %}

{% block title %} &ndash; Drafts{% endblock %}

{% block content %}
<article>
  <header>
    <h1>{{ _('Drafts') }}</h1>
  </header>
</article>
{% for article in drafts|sort(attribute='date', reverse=True) %}
<article>
  <header>
    <h2><a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ article.title }}</a></h2>
    <p>
      {{ _('Posted on %(when)s in %(category)s',
           when=article.locale_date,
           category='<a href="%s/%s">%s</a>'|format(SITEURL, article.category.url, article.category)|safe) }}

      {% if article.tags and not HOME_HIDE_TAGS %}
          &#8226; {{ _('Tagged with') }}
          {% for tag in article.tags %}
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
      {% endif %}

      {% if 'post_stats' in PLUGINS %}
        &#8226; {{ article.stats['read_mins'] }} min read
      {% endif %}
    </p>
  </header>
  <div>
    {% if summarise or article.metadata['summary'] or SUMMARY_MAX_LENGTH %}
      {{ article.summary }}
      <br>
      <a class="btn" href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ _('Continue reading') }}</a>
    {% else %}
      {{ article.content }}
    {% endif %}
  </div>
  {% if not loop.last %}
  <hr />
  {% endif %}
</article>
{% endfor %}
{% endblock %}
